<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/MyAngular.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div ng-app="MyApp">
    <div ng-controller="MyController">
        Program w Angularze {{ 7*2 }} <br/>
        Cześć {{ name }} <br/>
        <input type="text" class="input-lg" ng-model="query" />
        <div class="btn btn-primary" ng-click="togglePizzas()" id="toggleButton"> {{ text }} </div>
        <div ng-show="visible">
            <div class="btn btn-danger" ng-if="omgError"> {{ omgError }} </div>
            <div ng-repeat="pizza in pizzas | filter: query | orderBy: 'Price'">
                <div class="btn btn-danger col-md-4"> {{ pizza.Name }} </div>
                <div class="btn btn-primary col-md-4"> {{ pizza.Ingredients }} </div>
                <div class="btn btn-success col-md-4"> {{ pizza.Price | currency: 'PLN ' }} </div>
            </div>
        </div>
    </div>
</div>
