body {
  font-family: Verdana,sans-serif;
  font-size: 0.9em;
}

header,
section,
aside,
article,
footer {
  margin: 0 1.5% 24px 1.5%;
  border: 1px black dashed;
}

article {
  float: left;
  width: 63%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom: 0;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 5px;
}
