@{
    ViewBag.Title = "Strona główna";
}

<h2>Witaj na stronie naszej pizzerii!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus quam at suscipit commodo. Morbi lorem lectus, blandit tincidunt euismod et, feugiat vitae ipsum. Sed tincidunt massa at urna cursus, in sollicitudin neque ullamcorper. Pellentesque quis nibh leo. Sed vel fringilla dolor. Quisque maximus lacus ut feugiat maximus. Vestibulum quis scelerisque ex. Sed tellus nisl, venenatis vel eleifend sed, scelerisque ut felis. Suspendisse eget aliquet felis. Vivamus cursus ut nisi vel blandit. Praesent quis est commodo, faucibus neque eget, malesuada odio. Cras cursus metus sed consectetur malesuada. Aenean semper dictum mi. Donec condimentum elementum justo ut elementum. Donec pellentesque gravida tortor vitae dignissim.</p>

<p>Maecenas nec odio vel lectus sagittis egestas. Donec semper odio ultrices enim pharetra convallis. Mauris commodo velit quis finibus pharetra. In hac habitasse platea dictumst. Donec ultrices aliquam pharetra. Pellentesque laoreet iaculis fermentum. Curabitur in arcu posuere, rutrum nulla aliquet, mollis mauris.</p>

<div class="mainpage-image"><img src="http://www.pizzagros.pl/images/pizza.jpg"/></div>


