USE [master]
GO
/****** Object:  Database [DawidPerdekComputerService]    Script Date: 2016-04-25 22:37:58 ******/
CREATE DATABASE [DawidPerdekComputerService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DawidPerdekComputerService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DawidPerdekComputerService.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DawidPerdekComputerService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DawidPerdekComputerService_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DawidPerdekComputerService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DawidPerdekComputerService]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2016-04-25 22:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Computers]    Script Date: 2016-04-25 22:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[Producer] [nvarchar](30) NOT NULL,
	[Model] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2016-04-25 22:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 2016-04-25 22:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ComputerID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [Name], [Surname]) VALUES (1, N'Dawid', N'Perdek')
INSERT [dbo].[Clients] ([ID], [Name], [Surname]) VALUES (2, N'Maciej', N'Kott')
INSERT [dbo].[Clients] ([ID], [Name], [Surname]) VALUES (3, N'Iwo', N'Paprota')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([ID], [ClientID], [Producer], [Model]) VALUES (1, 1, N'Dell', N'N5010')
INSERT [dbo].[Computers] ([ID], [ClientID], [Producer], [Model]) VALUES (2, 2, N'Sony', N'Vaio')
INSERT [dbo].[Computers] ([ID], [ClientID], [Producer], [Model]) VALUES (3, 3, N'Lenovo', N'Z700')
SET IDENTITY_INSERT [dbo].[Computers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Age]) VALUES (1, N'Robert', N'Juzak', 23)
INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Age]) VALUES (2, N'Mateusz', N'Kubanek', 22)
INSERT [dbo].[Employees] ([ID], [Name], [Surname], [Age]) VALUES (3, N'Grzegorz', N'Żurawski', 21)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ID], [ComputerID], [EmployeeID], [Cost], [Description]) VALUES (1, 1, 1, 500, N'Dysk')
INSERT [dbo].[Services] ([ID], [ComputerID], [EmployeeID], [Cost], [Description]) VALUES (2, 1, 2, 100, N'Klawiatura')
INSERT [dbo].[Services] ([ID], [ComputerID], [EmployeeID], [Cost], [Description]) VALUES (3, 3, 3, 600, N'Karta graficzna')
SET IDENTITY_INSERT [dbo].[Services] OFF
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_Clients]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Computers] FOREIGN KEY([ComputerID])
REFERENCES [dbo].[Computers] ([ID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Computers]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Employees]
GO
USE [master]
GO
