USE [master]
GO
/****** Object:  Database [DawidPerdekZad7.FlightsContext]    Script Date: 2016-06-18 15:14:34 ******/
CREATE DATABASE [DawidPerdekZad7.FlightsContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DawidPerdekZad7.FlightsContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DawidPerdekZad7.FlightsContext.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DawidPerdekZad7.FlightsContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DawidPerdekZad7.FlightsContext_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DawidPerdekZad7.FlightsContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DawidPerdekZad7.FlightsContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2016-06-18 15:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 2016-06-18 15:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityFrom] [nvarchar](max) NULL,
	[CityTo] [nvarchar](max) NULL,
	[DepartureTime] [int] NOT NULL,
	[ArrivalTime] [int] NOT NULL,
	[FreeSeats] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Flights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Flights] ON 

INSERT [dbo].[Flights] ([Id], [CityFrom], [CityTo], [DepartureTime], [ArrivalTime], [FreeSeats], [Price]) VALUES (1, N'Wrocław', N'Warszawa', 1300, 1530, 100, 39.99)
INSERT [dbo].[Flights] ([Id], [CityFrom], [CityTo], [DepartureTime], [ArrivalTime], [FreeSeats], [Price]) VALUES (9, N'Wrocław', N'Berlin', 1430, 1600, 80, 29.99)
INSERT [dbo].[Flights] ([Id], [CityFrom], [CityTo], [DepartureTime], [ArrivalTime], [FreeSeats], [Price]) VALUES (10, N'Warszawa', N'Moskwa', 1600, 1900, 30, 99.99)
SET IDENTITY_INSERT [dbo].[Flights] OFF
USE [master]
GO
