{% extends 'index.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="col-xs-12">
        <div class="table-form">
            {% if trophiesfields %}
                <form action="{% url 'filter-trophies' %}" method="GET">
                    <input type="text" name="search_phrase" placeholder="{% trans "Type search phrase here" %}">
                    <input type="submit" value="{% trans "Search" %}">
                </form>
                <br>
            {% endif %}
            {% if search_phrase and not trophiesfields %}
                <button onclick="history.go(-1)">{% trans "Back" %}</button>
                <br/>
                <br/>
            {% endif %}
            {% if search_phrase %}
                <div>
                    <strong>{% trans "Search results" %}:</strong>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Lp</th>
                <th>{% trans "Trophy name" %}
                    {% if request.LANGUAGE_CODE == 'pl' %}
                        <a href="{% url 'trophies' %}?sort=name_pl&desc=no">
                    {% else %}
                        <a href="{% url 'trophies' %}?sort=name&desc=no">
                    {% endif %}
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                    {% if request.LANGUAGE_CODE == 'pl' %}
                        <a href="{% url 'trophies' %}?sort=name_pl&desc=yes">
                    {% else %}
                        <a href="{% url 'trophies' %}?sort=name&desc=yes">
                    {% endif %}
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </th>
                <th>{% trans "Year" %}
                    <a href="{% url 'trophies' %}?sort=season_start&desc=no">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                    <a href="{% url 'trophies' %}?sort=season_start&desc=yes">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </th>
            </tr>
            </thead>
            {% if trophiesfields %}
                {% for trophy in trophiesfields %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td>
                            {% if request.LANGUAGE_CODE == 'pl' %}
                                {{ trophy.name_pl }}
                            {% else %}
                                {{ trophy.name }}
                            {% endif %}
                        </td>
                        <td>
                            {{ trophy.season_start }}
                            {% if trophy.season_end %}
                                / {{ trophy.season_end }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    {% if search_phrase|length > 0 %}
                        <td colspan="3">{% trans "There are no trophies matching criteria" %}.</td>
                    {% else %}
                        <td colspan="3">{% trans "There are no trophies" %}.</td>
                    {% endif %}
                </tr>
            {% endif %}
        </table>
    </div>
        </div>
    </div>
{% endblock %}
