{% extends "base.html"%}

{% block title %} - WYBÓR KATEGORII{% endblock %}

{% block content %}
  {% for d in druzyny %} 
      {% if d.Trener.login == user.username and d.Kategoria == null %}
	  <div style="margin-left:35%;margin-right:35%;">
	    <fieldset>
	        <legend> Wybierz kategorię dla swojej drużyny i kliknij "Zapisz" </legend>
     	 	  <form method="post" action=".">{% csrf_token %}
     	     {{ form.as_p }}
     	    <div style="text-align:center"><input type="submit" value="Zapisz"></div>
    	   </form>
  	</fieldset>
	{% endif %} 
    {% endfor %}
{% endblock %}

{% block footer %}
  <div style="text-align:center;">
    </br></br></br><a href="/trener/"><button>Powrót do panelu trenera</button></a>
    </br></br><a href="/"><button>Powrót do strony głównej</button></a>
  </div>
{% endblock %}