{% extends "base.html"%}

{% block title %} - DODAWANIE UCZESTNIKA{% endblock %}

{% block content %}
	  <div style="margin-left:30%;margin-right:30%;">
	    <fieldset>
	        <legend>Wybierz uczestnika do skasowania i kliknij "Usuń" </legend>
     	 	  <form method="post" action=".">{% csrf_token %}
     	     {{ form.as_p }}
     	    <div style="text-align:center"><input type="submit" value="Usuń"></div>
    	   </form>
  	</fieldset>
{% endblock %}

{% block footer %}
  <div style="text-align:center;">
    </br></br></br><a href="/trener/"><button>Powrót do panelu trenera</button></a>
    </br></br><a href="/"><button>Powrót do strony głównej</button></a>
  </div>
{% endblock %}